[package]
name = "unm_engine_qq"
description = "The QQ engine for UnblockNeteaseMusic."
license = "LGPL-3.0-or-later"
version = "0.3.0"
edition = "2021"
repository = "https://github.com/UnblockNeteaseMusic/server-rust"
readme = "../../README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.62"
async-trait = "0.1.57"
http = "0.2.8"
serde_json = "1.0.85"
serde = { version = "1.0.144", features = ["derive"] }
reqwest = "0.11.11"
futures = "0.3.23"
url = "2.2.2"
unm_engine = { version = "0.3.0-pre.0", path = "../../engine-base" }
unm_request = { version = "0.3.0-pre.0", path = "../../request" }
unm_selector = { version = "0.3.0-pre.0", path = "../../selector" }
unm_types = { version = "0.3.0-pre.0", path = "../../types" }
log = "0.4.17"
derive_builder = "0.11.2"
thiserror = "1.0.32"
regex = "1.6.0"
once_cell = "1.13.1"
fastrand = "1.8.0"
concat-string = "1.0.1"

[dev-dependencies]
tokio = { version = "1.20.1", features = ["macros", "rt-multi-thread"] }
unm_test_utils = { path = "../../test-utils" }

[features]
