name: Check if the code has formatted

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  cargo-fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: beta
          default: true
          profile: default
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

  cargo-clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: beta
          default: true
          profile: default
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: v0-${{ runner.os }}-cargo-clippy-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            v0-${{ runner.os }}-cargo-clippy-${{ hashFiles('**/Cargo.lock') }}
            v0-${{ runner.os }}-cargo-clippy
            v0-${{ runner.os }}-cargo-
      - uses: actions-rs/cargo@v1
        with:
          command: clippy
